/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 10px;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--grayish-blue);
  line-height: 1.3;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: none;
  color: var(--grayish-blue);
}

h1,
h2,
h3 {
  font-weight: 300;
  color: var(--dark-blue);
}

h1 {
  font-size: 5.2rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 2;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.8rem;
}

span {
  line-height: 2;
}

.hidden {
  display: none;
}

/* Toggle */

.toggle {
  display: none;
  height: 20px;
  width: 20px;
  position: relative;
}

.toggle__line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--dark-blue);
  transition: 0.6s;
}

.toggle__line:not(:last-child) {
  margin-bottom: 3px;
}

.toggle__line:nth-child(1) {
  top: 0;
}

.toggle__line:nth-child(2) {
  top: 0.5rem;
}

.toggle__line:nth-child(3) {
  top: 1rem;
}

.toggle.open .toggle__line:nth-child(1) {
  top: 0;
  transform: rotate(135deg);
}

.toggle.open .toggle__line:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}

.toggle.open .toggle__line:nth-child(3) {
  top: 0;
  transform: rotate(-135deg);
}

/* Button */

.button {
  padding: 1.4rem 3.5em;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  border: 0;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  opacity: 0.7;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0px;
  z-index: -2;
}

.overlay.show {
  background-image: linear-gradient(var(--dark-blue), transparent);
  bottom: 0;
  opacity: 1;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.7rem;
  margin: 0 auto;
  max-width: 122rem;
}

.nav-desktop.desktop .nav-desktop__menu {
  display: flex;
  flex-direction: row;
}

.nav-desktop.desktop li:not(:last-child) {
  margin-right: 2rem;
}

.nav-desktop__link {
  position: relative;
  transition: 0.4s;
}

.nav-desktop__link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -3.5rem;
  height: 5px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  opacity: 0;
  transition: 0.4s;
}

.nav-desktop__link:hover {
  color: var(--dark-blue);
}

.nav-desktop__link:hover::before {
  opacity: 1;
}

/* Section - hero */
.hero {
  width: 100vw;
  background-color: var(--very-light-gray);
}

.hero__container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  height: 70vh;
  min-height: 600px;
  position: relative;
  max-width: 122rem;
  margin: 6rem auto 0 auto;
  padding: 10rem 0 10rem 1.7rem;
}

.hero__text-container {
  width: 78%;
  transform: translateY(-70%);
}

.hero__text {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.hero__image-container {
  transform: translateY(-20%);
  max-height: 100%;
}

.hero__container::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 50vw;
  top: 0rem;
  left: 40rem;
  background-image: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
}

/* Section - feature */
.feature {
  width: 100vw;
  background-color: var(--light-grayish-blue);
}

.feature__container {
  margin: 0 auto;
  padding: 10rem 1.7rem;
  max-width: 122rem;
}

.feature__intro {
  padding: 0 0 3rem 0;
  margin-bottom: 3rem;
}

.feature__text {
  width: 50%;
}

.feature__reasons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feature__reason {
  width: 25%;
}

.feature__title {
  font-size: 2.6rem;
  line-height: 3;
}

.feature__reason:not(:last-child) {
  padding-right: 2rem;
}

/* Section - articles */
.articles {
  width: 100vw;
  background-color: var(--very-light-gray);
}

.articles__container {
  margin: 0 auto;
  padding: 10rem 1.7rem;
  max-width: 122rem;
}

.articles__intro {
  padding: 0 0 3rem 0;
}

.articles__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.article__image {
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.article {
  background-color: var(--white);
}

.article__title {
  cursor: pointer;
  transition: 0.4s;
}

.article__title:hover {
  color: var(--lime-green);
}

.article__text {
  padding: 1rem;
}

.article:not(:last-child) {
  padding-right: 2rem;
}

.art1 {
  background-image: url("images/image-currency.jpg");
}

.art2 {
  background-image: url("images/image-restaurant.jpg");
}

.art3 {
  background-image: url("images/image-plane.jpg");
}

.art4 {
  background-image: url("images/image-confetti.jpg");
}

/* Footer */

.footer {
  background-color: var(--dark-blue);
}

.footer__logo-color {
  fill: var(--white);
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1.2fr;
  grid-gap: 12rem;
  margin: 0 auto;
  padding: 4rem 1.7rem;
  max-width: 122rem;
}

.footer__left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__socials {
  margin-top: 3rem;
}

.footer__social-link {
  transition: 0.4s;
  cursor: pointer;
}

.footer__social-path {
  transition: 0.4s;
}

.footer__social-link:not(:last-child) {
  margin-right: 1.2rem;
}

.footer__social-link:hover .footer__social-path {
  fill: #31d35c;
}

.footer__social-link:hover {
  transform: translateY(-4px);
}

.footer__center-column {
  display: flex;
  align-items: flex-start;
}

.footer__links-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.footer__link {
  font-weight: 600;
  transition: 0.4s;
}

.footer__link:hover {
  color: var(--lime-green);
}

.footer__right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.copy {
  margin-top: 1.8rem;
  font-size: 1.4rem;
}

@media (max-width: 1440px) {
  .hero__container::before {
    right: 0rem;
  }
}

@media (max-width: 1024px) {
  .hero__container {
    grid-template-columns: 1fr;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .hero__text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    order: 2;
    margin: 0 auto;
    width: 90vw;
    transform: translateY(-30%);
  }

  .hero__image-container {
    margin: 0 auto;
    height: 70rem;
    transform: translateY(-30%);
  }

  .hero__mockup {
    height: 70rem;
  }

  .hero__container::before {
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 70rem;
    background-image: url("images/bg-intro-mobile.svg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .feature__text {
    width: 100%;
  }

  .feature__reasons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feature__reason {
    width: 50%;
    padding-right: 2rem;
  }

  .articles__list {
    grid-template-columns: 1fr 1fr;
  }

  .footer__container {
    grid-template-columns: 1fr 1.3fr 1.3fr;
    grid-gap: 5rem;
  }

  .footer__social-link:not(:last-child) {
    margin-right: 0.8rem;
  }
}

@media (max-width: 725px) {
  h2 {
    line-height: 1.2;
  }

  .toggle {
    display: block;
  }

  .desktop {
    display: none !important;
  }

  .hidden {
    display: none;
    opacity: 1;
  }

  .feature__container,
  .articles__container {
    padding: 10rem 3rem;
  }

  .feature__reason:last-child {
    padding-right: 0;
  }

  .nav-mobile {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--white);
    z-index: 10;
  }

  .nav-mobile__item {
    padding: 10px;
  }

  .nav-desktop__item {
    padding: 1rem 0;
  }

  .feature__container {
    text-align: center;
  }

  .feature__question {
    margin-bottom: 3rem;
  }

  .feature__reasons {
    flex-direction: column;
  }

  .feature__reason {
    width: 100%;
  }

  .feature__reason:not(:last-child) {
    padding-right: 0rem;
    margin-bottom: 4rem;
  }

  .article:not(:last-child) {
    margin-bottom: 4rem;
    padding-right: 0rem;
  }

  .articles__list {
    grid-template-columns: 1fr;
  }

  .article__image {
    height: 250px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .footer__links-nav {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 0 auto;
  }

  .footer__right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
